<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPPWDFI | Program Lists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/css/program-list-style.css">
</head>

<body>
    <div id="wrapper">
        <div class="overlay dark_bg"></div>
        <!-- Modal Background -->

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">Admin</a>
                        <hr class="navbar-solid">
                    </div>
                </div>

                <li><a href="../views/dashboard.html">Dashboard</a></li>
                <li><a href="../views/program-list.html">Programs</a></li>
                <li><a href="#beneficiary">Beneficiary</a></li>
                <li><a href="#benefactor">Benefactor</a></li>
                <li><a href="#inventory">Inventory</a></li>
                <li><a href="#settings">Settings</a></li>
                <li class="logout-link"><a href="#logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- HEADER -->
        <div class="bg-half-gradient">
            <header class="bg-gradient">
                <div class="container d-flex align-items-center">
                    <div class="menu-icon mr-3" id="menu-toggle">&#9776;</div>
                    <a href="../views/dashboard.html">
                        <img src="../images/LPPWDFI-Logo.png" alt="Logo" class="logo mr-3">
                    </a>
                    <div>
                        <h1 class="org-name">Beneficiary</h1>
                    </div>
                </div>

                <div class="addProgramBtn">
                    <button>Create</button>
                </div>
            </header>
        </div>

        <!--MODAL FORM-->
        <div class="popup">
            <header>
                <h2 class="modalTitle">Fill the Form</h2>
                <span class="closeBtn">&times;</span>
            </header>
            <form id="programForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" placeholder="Date of Birth" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <select id="gender" class="form-control" required>
                            <option value="" selected disabled>Choose...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="contactNo">Contact Number</label>
                        <input type="tel" class="form-control" id="contactNo" placeholder="+63 912 345 6789" required>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="barangay">Barangay</label>
                        <select id="barangay" class="form-control" required>
                            <option value="" selected disabled>Choose...</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="disabilityType">Disability Type</label>
                        <select id="disabilityType" class="form-control" required>
                            <option value="" selected disabled>Choose...</option>
                            <option value="physical">Physical</option>
                            <option value="sensory">Sensory</option>
                            <option value="intellectual">Intellectual</option>
                            <option value="mental">Mental</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="comorbidities">Comorbidities</label>
                        <select id="comorbidities" class="form-control" required>
                            <option value="" selected disabled>Choose...</option>
                            <option value="none">None</option>
                            <option value="diabetes">Diabetes</option>
                            <option value="hypertension">Hypertension</option>
                            <option value="heart disease">Heart Disease</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pwdIdCardNo">PWD Card ID No.</label>
                        <input type="text" class="form-control" id="pwdIdCardNo" placeholder="PWD Card ID No." required>
                    </div>



                </div>
                <input type="submit" class="submitBtn" value="Submit">
            </form>
        </div>

        <!--2nd Header-->
        <main class="main-content">
            <h2 class="main-title">Beneficiary Lists</h2>
            <div class="button-group">
                <button class="btn export-btn" onclick="exportTableToCSV('programs.csv')">Export to CSV</button>
            </div>

            <!---TABLE LISTS-->
            <div class="table-container">
                <button id="resetFiltersButton" class="btn btn-secondary">Reset Filters</button>
                <table class="table table-bordered table-hover">
                    <caption>List of Beneficiaries</caption>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="nameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        First Name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="nameDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="nameSort" value="az" id="nameSortAZ">
                                                <label class="form-check-label" for="nameSortAZ">
                                                    A-Z
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="nameSort" value="za" id="nameSortZA">
                                                <label class="form-check-label" for="nameSortZA">
                                                    Z-A
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>

                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="nameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Last Name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="nameDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="nameSort" value="az" id="nameSortAZ">
                                                <label class="form-check-label" for="nameSortAZ">
                                                    A-Z
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="nameSort" value="za" id="nameSortZA">
                                                <label class="form-check-label" for="nameSortZA">
                                                    Z-A
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">DOB</th>
                            <th scope="col">Gender</th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="typeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Contact No.
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="typeDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="type1" id="type1Check" name="typeFilter">
                                                <label class="form-check-label" for="type1Check">
                                                    Type 1
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="type2" id="type2Check" name="typeFilter">
                                                <label class="form-check-label" for="type2Check">
                                                    Type 2
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="frequencyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Barangay
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="frequencyDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="daily" id="dailyCheck" name="frequencyFilter">
                                                <label class="form-check-label" for="dailyCheck">
                                                    Daily
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="weekly" id="weeklyCheck" name="frequencyFilter">
                                                <label class="form-check-label" for="weeklyCheck">
                                                    Weekly
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="assistanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Disability Type
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="assistanceDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="financial" id="financialCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="financialCheck">
                                                    Financial
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="medical" id="medicalCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="medicalCheck">
                                                    Medical
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="assistanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Comorbidities
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="assistanceDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="financial" id="financialCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="financialCheck">
                                                    Financial
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="medical" id="medicalCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="medicalCheck">
                                                    Medical
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="assistanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        PWD ID Card No.
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="assistanceDropdown">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="financial" id="financialCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="financialCheck">
                                                    Financial
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="medical" id="medicalCheck" name="assistanceFilter">
                                                <label class="form-check-label" for="medicalCheck">
                                                    Medical
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="programInfo">
                        <!-- Program rows will be populated here -->
                        {{#each programs}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td><a href="">{{this.name}}</a></td>
                            <td>{{this.recent_update_date}}</td>
                            <td>{{this.creation_date}}</td>
                            <td>{{this.program_type}}</td>
                            <td>{{this.frequency}}</td>
                            <td>{{this.assistance_type}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>

        <nav aria-label="page-navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../public/js/app.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById("menu-toggle").addEventListener("click", function() {
                    document.getElementById("wrapper").classList.toggle("toggled");
                    document.querySelector(".main-content").classList.toggle("toggled");
                    document.querySelector(".header-right").classList.toggle("toggled");
                });

                $(document).ready(function() {
                    $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $(".dropdown-menu li").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });

                var newMemberAddBtn = document.querySelector('.addProgramBtn button'),
                    darkBg = document.querySelector('.dark_bg'),
                    popupForm = document.querySelector('.popup'),
                    crossBtn = document.querySelector('.closeBtn'),
                    submitBtn = document.querySelector('.submitBtn'),
                    modalTitle = document.querySelector('.modalTitle'),
                    form = document.querySelector('#programForm'),
                    formInputFields = document.querySelectorAll('#programForm input, #programForm select'),
                    programInfo = document.querySelector('.programInfo');
                resetFiltersButton = document.getElementById('resetFiltersButton');

                let originalData = localStorage.getItem('programs') ? JSON.parse(localStorage.getItem('programs')) : [];
                let getData = [...originalData];

                let isEdit = false,
                    editId;

                newMemberAddBtn.addEventListener('click', () => {
                    isEdit = false;
                    submitBtn.innerHTML = "Submit";
                    modalTitle.innerHTML = "Fill the Form";
                    form.reset();
                    formInputFields.forEach(input => input.disabled = false);
                    submitBtn.style.display = "block";
                    darkBg.classList.add('active');
                    popupForm.classList.add('active');
                });

                crossBtn.addEventListener('click', () => {
                    darkBg.classList.remove('active');
                    popupForm.classList.remove('active');
                    form.reset();
                    submitBtn.style.display = "block";
                    formInputFields.forEach(input => input.disabled = false);
                });

                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                    const now = new Date();
                    const program = {
                        id: Date.now(),
                        firstName: form.firstName.value,
                        lastName: form.lastName.value,
                        dob: form.dob.value,
                        gender: form.gender.value,
                        contactNo: form.contactNo.value,
                        barangay: form.barangay.value,
                        disabilityType: form.disabilityType.value,
                        comorbidities: form.comorbidities.value,
                        pwdIdCardNo: form.pwdIdCardNo.value,
                        dateCreated: now.toLocaleDateString(),
                        lastUpdated: now.toLocaleDateString() + ' ' + now.toLocaleTimeString()
                    };

                    if (!isEdit) {
                        originalData.push(program);
                    } else {
                        originalData[editId] = program;
                    }
                    localStorage.setItem('programs', JSON.stringify(originalData));
                    getData = [...originalData];
                    showInfo();
                    darkBg.classList.remove('active');
                    popupForm.classList.remove('active');
                    form.reset();
                });

                function showInfo() {
                    displayRows(getData, currentPage);
                    displayPagination(getData.length);
                    addEventListeners();
                }

                let currentPage = 1;
                const rowsPerPage = 5;

                function displayPagination(totalRows) {
                    const pagination = document.querySelector('.pagination');
                    const totalPages = Math.ceil(totalRows / rowsPerPage);

                    pagination.innerHTML = `
                        <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                            <a class="page-link" href="#" aria-label="Previous" id="prevButton">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>`;

                    for (let i = 1; i <= totalPages; i++) {
                        pagination.innerHTML += `
                            <li class="page-item ${currentPage === i ? 'active' : ''}">
                                <a class="page-link paginationButton" href="#">${i}</a>
                            </li>`;
                    }

                    pagination.innerHTML += `
                        <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                            <a class="page-link" href="#" aria-label="Next" id="nextButton">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>`;

                    document.getElementById("prevButton").addEventListener("click", prevPage);
                    document.getElementById("nextButton").addEventListener("click", nextPage);

                    const paginationButtons = document.getElementsByClassName("paginationButton");
                    for (let i = 0; i < paginationButtons.length; i++) {
                        paginationButtons[i].addEventListener("click", function(event) {
                            event.preventDefault();
                            goToPage(parseInt(this.textContent));
                        });
                    }
                }

                function displayRows(rows, page = 1) {
                    const start = (page - 1) * rowsPerPage;
                    const end = start + rowsPerPage;
                    const paginatedRows = rows.slice(start, end);
                    programInfo.innerHTML = '';

                    paginatedRows.forEach((program, index) => {
                        const row = `
                            <tr>
                                <td>${start + index + 1}</td>
                                <td>${program.firstName}</td>
                                <td>${program.lastName}</td>
                                <td>${program.dob}</td>
                                <td>${program.gender}</td>
                                <td>${program.contactNo}</td>
                                <td>${program.barangay}</td>
                                <td>${program.disabilityType}</td>
                                <td>${program.comorbidities}</td>
                                <td>${program.pwdIdCardNo}</td>
                                <td>
                                    <button class="viewBtn" data-id="${program.id}"><i class="bi bi-eye"></i></button>
                                    <button class="editBtn" data-id="${program.id}"><i class="bi bi-pencil"></i></button>
                                    <button class="deleteBtn" data-id="${program.id}"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        `;
                        programInfo.innerHTML += row;
                    });
                }

                function addEventListeners() {
                    document.querySelectorAll('.viewBtn').forEach(button => {
                        button.addEventListener('click', (e) => {
                            const id = parseInt(e.currentTarget.getAttribute('data-id'));
                            readInfo(id);
                        });
                    });

                    document.querySelectorAll('.editBtn').forEach(button => {
                        button.addEventListener('click', (e) => {
                            const id = parseInt(e.currentTarget.getAttribute('data-id'));
                            editInfo(id);
                        });
                    });

                    document.querySelectorAll('.deleteBtn').forEach(button => {
                        button.addEventListener('click', (e) => {
                            const id = parseInt(e.currentTarget.getAttribute('data-id'));
                            deleteInfo(id);
                        });
                    });

                    // Event listeners for sorting and filtering
                    document.querySelectorAll('input[name="nameSort"]').forEach(radio => {
                        radio.addEventListener('change', () => {
                            sortData();
                            displayRows(getData, currentPage);
                            displayPagination(getData.length);
                        });
                    });

                    document.querySelectorAll('input[name="typeFilter"], input[name="frequencyFilter"], input[name="assistanceFilter"]').forEach(checkbox => {
                        checkbox.addEventListener('change', () => {
                            filterData();
                            displayRows(getData, currentPage);
                            displayPagination(getData.length);
                        });
                    });
                }

                function prevPage() {
                    if (currentPage > 1) {
                        currentPage--;
                        displayRows(getData, currentPage);
                        displayPagination(getData.length);
                    }
                }

                function nextPage() {
                    const totalPages = Math.ceil(getData.length / rowsPerPage);
                    if (currentPage < totalPages) {
                        currentPage++;
                        displayRows(getData, currentPage);
                        displayPagination(getData.length);
                    }
                }

                function goToPage(page) {
                    currentPage = page;
                    displayRows(getData, currentPage);
                    displayPagination(getData.length);
                }

                function readInfo(id) {
                    const program = getData.find(item => item.id === id);
                    if (program) {
                        form.firstName.value = program.firstName;
                        form.lastName.value = program.lastName;
                        form.dob.value = program.dob;
                        form.gender.value = program.gender;
                        form.contactNo.value = program.contactNo;
                        form.barangay.value = program.barangay;
                        form.disabilityType.value = program.disabilityType;
                        form.comorbidities.value = program.comorbidities;
                        form.pwdIdCardNo.value = program.pwdIdCardNo;
                        modalTitle.innerHTML = "View Beneficiary";
                        formInputFields.forEach(input => input.disabled = true);
                        submitBtn.style.display = "none";
                        darkBg.classList.add('active');
                        popupForm.classList.add('active');
                    }
                }

                function editInfo(id) {
                    isEdit = true;
                    editId = getData.findIndex(item => item.id === id);
                    const program = getData[editId];
                    if (program) {
                        form.firstName.value = program.firstName;
                        form.lastName.value = program.lastName;
                        form.dob.value = program.dob;
                        form.gender.value = program.gender;
                        form.contactNo.value = program.contactNo;
                        form.barangay.value = program.barangay;
                        form.disabilityType.value = program.disabilityType;
                        form.comorbidities.value = program.comorbidities;
                        form.pwdIdCardNo.value = program.pwdIdCardNo;
                        modalTitle.innerHTML = "Edit Beneficiary";
                        formInputFields.forEach(input => input.disabled = false);
                        submitBtn.style.display = "block";
                        submitBtn.innerHTML = "Update";
                        darkBg.classList.add('active');
                        popupForm.classList.add('active');
                    }
                }

                function deleteInfo(id) {
                    if (confirm("Are you sure you want to delete this beneficiary?")) {
                        originalData = originalData.filter(item => item.id !== id);
                        localStorage.setItem('programs', JSON.stringify(originalData));
                        getData = [...originalData];
                        showInfo();
                    }
                }

                function sortData() {
                    const selectedSort = document.querySelector('input[name="nameSort"]:checked').value;
                    getData.sort((a, b) => {
                        if (selectedSort === 'az') {
                            return a.firstName.localeCompare(b.firstName);
                        } else {
                            return b.firstName.localeCompare(a.firstName);
                        }
                    });
                    showInfo();
                }

                function filterData() {
                    let filteredData = [...originalData];

                    const selectedTypes = Array.from(document.querySelectorAll('input[name="typeFilter"]:checked')).map(check => check.value);
                    if (selectedTypes.length > 0) {
                        filteredData = filteredData.filter(program => selectedTypes.includes(program.programType));
                    }

                    const selectedFrequencies = Array.from(document.querySelectorAll('input[name="frequencyFilter"]:checked')).map(check => check.value);
                    if (selectedFrequencies.length > 0) {
                        filteredData = filteredData.filter(program => selectedFrequencies.includes(program.frequency));
                    }

                    const selectedAssistances = Array.from(document.querySelectorAll('input[name="assistanceFilter"]:checked')).map(check => check.value);
                    if (selectedAssistances.length > 0) {
                        filteredData = filteredData.filter(program => selectedAssistances.includes(program.assistanceType));
                    }

                    getData = filteredData;
                    showInfo();
                }

                resetFiltersButton.addEventListener('click', () => {
                    document.querySelectorAll('input[type="checkbox"], input[type="radio"]').forEach(input => {
                        input.checked = false;
                    });

                    getData = [...originalData];
                    showInfo();
                });

                displayRows(getData, currentPage);
                displayPagination(getData.length);
                addEventListeners();
            });

            /* Exporting to CSV function */
            function downloadCSV(csv, filename) {
                let csvFile;
                let downloadLink;

                csvFile = new Blob([csv], {
                    type: 'text/csv'
                });

                downloadLink = document.createElement('a');
                downloadLink.download = filename;
                downloadLink.href = window.URL.createObjectURL(csvFile);
                downloadLink.style.display = 'none';
                document.body.appendChild(downloadLink);
                downloadLink.click();
            }

            function exportTableToCSV(filename) {
                const rows = document.querySelectorAll('.table-container table tr');
                let csv = [];
                for (let i = 0; i < rows.length; i++) {
                    const row = [],
                        cols = rows[i].querySelectorAll('td, th');
                    for (let j = 0; j < cols.length; j++) {
                        const data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ');
                        row.push('"' + data + '"');
                    }
                    csv.push(row.join(','));
                }
                downloadCSV(csv.join('\n'), filename);
            }

            /**Contact Number**/
            document.addEventListener('DOMContentLoaded', function() {
                var contactNoInput = document.getElementById('contactNo');

                contactNoInput.addEventListener('focus', function() {
                    if (!contactNoInput.value.startsWith('+63')) {
                        contactNoInput.value = '+63 ';
                    }
                });

                contactNoInput.addEventListener('input', function() {
                    if (!contactNoInput.value.startsWith('+63')) {
                        contactNoInput.value = '+63 ' + contactNoInput.value.replace(/^\+63\s*/, '');
                    }
                    if (contactNoInput.value.length > 14) {
                        contactNoInput.value = contactNoInput.value.slice(0, 14);
                    }
                });
            });
        </script>
</body>

</html>