<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPPWDFI | Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot-password.css">
    <script src="/js/forgot-password.js"></script>
</head>

<body>
    <div class="container">
        <div class="logo-section">
            <img src="../images/LPPWDFI-Logo.png" alt="Las Piñas Persons with Disability Federation Incorporated">
            <p>Give hope from home.</p>
        </div>
        <div class="forgot-password-section">
            <h1>Forgot Your Password?</h1>
            <form id="forgotPasswordForm">
                <div class="input-group">
                    <label for="email">Enter Email:</label>
                    <input type="email" id="email" placeholder="Email Address" required>
                    <button type="submit">SEND RESET LINK</button>
                </div>
            </form>
            <div class="back-to-login">
                <a href="/login">Back to Login</a>
            </div>
        </div>
    </div>
</body>

</html>
