<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPPWDFI | Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
</head>

<body>
    <div class="container">
        <div class="logo-section">
            <img src="../images/LPPWDFI-Logo-w-name.jpeg" alt="Las Piñas Persons with Disability Federation Incorporated">
            <p>Give hope from home.</p>
        </div>
        <div class="login-section">
            <h1>Hello, welcome back!</h1>
            <form action="">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Username">

                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                </div>
                <button type="submit">SIGN-IN</button>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </form>
        </div>
    </div>
</body>

</html>
