<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <script src="/public/js/login.js"></script>
</head>

<body>
    <div class="container">
        <div class="left-side">
            <img src="/images/LPPWDFI-Logo-w-name.jpeg" alt="Logo">
        </div>
        <div class="right-side">
            <div class="login-box">
                <h1>Hello, welcome back!</h1>
                <form id="loginForm" onsubmit="return getPassword();">
                    <label for="password">Enter Password:</label>
                    <input type="password" id="password" placeholder="Password">
                    <button type="submit">SIGN-IN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
