@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf/PPTelegraf-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf/PPTelegraf-Ultralight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../fonts/garet/Garet-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../fonts/garet/Garet-Heavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --color1: #FEFEFE;
    --color2: #000000;
    --color3: #F69C42;
    --color4: #64A4A2;
    --color5: #3B223A;
    --color6: #DD3B5E;
}

body {
    margin: 0;
    font-family: 'Garet', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.reset-password-section {
    flex: 1;
    background-color: var(--color1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-section h1 {
    font-family: 'Telegraf', sans-serif;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left; /* Adjust alignment as needed */
}

.input-group label {
    color: var(--color2);
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: #D9D9D9;
    outline: none;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.input-group input:focus {
    border-color: #999;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.08);
}

button {
    width: 100%;
    padding: 15px;
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #e69500;
}

.back-button {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.back-button a {
    text-decoration: none;
}

.back-button a:hover {
    text-decoration: underline;
}
